body{
    height: 100vh;
    width: 100vw;
}

.my-wrapping-header{
    background-color: rgb(194, 168, 168);
    height: 20%;
}

.my-wrapping-main{
    background-color: rgb(110, 110, 156);
    height: 80%;
}

.myborder{
    border: 3px solid red;
}