body{
    height: 100vh;
    width: 100vw;
}

/* BORDI PER COSTRUIRE IL LAYOUT DELLA PAGINA */

.my-border-top{
    border-top:2px solid black;
}

.my-border{
    border:2px solid black;
}

.my-border-left{
    border-left:2px solid green;
}

/* STRUTTURA LAYOUT WEB APP */
.my-wrapping-header{
    background-color: rgb(32, 124, 120);
    height: 20%;
}

.my-wrapping-main{
    background-color: rgb(218, 216, 226);
    height: 80%;
}

/* LAYOUT WEB APP */


.my-app-container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-button-search{
    padding:2px 30px;
    color:grey;
    background-color: white;
    border:1px solid rgb(221, 215, 215);
}

.my-search-bar{
    width:100%;
    color:grey;
}

.my-chat-img>img{
    width:10%;
    border-radius:50%;
}

.my-chat-section{
    padding-bottom:200px;
    overflow-y:scroll;
}